.pui-input.pui-input--icon {
	position: relative;
	input {
		padding: 0.5rem 2rem 0.5rem 1rem;
	}
	svg.pui-icon.input-icon {
		position: absolute;
		right: 0.5rem;
		bottom: 9px;
		fill: var(--primary);	
	}
	&.icon__floating svg.pui-icon.input-icon {
		bottom: 9px;
	}
	&.left-icon {
		input {
			padding: 0.5rem 1rem 0.5rem 2rem;
		}
		svg.pui-icon.input-icon {
			right: auto;
			left: 0.5rem;
		}
	}
}
