$label-color: var(--text-color);
$input-border-color: #ccc;
$input-border-color-focus: #007bff;
$label-font-size: 1.125rem;
$label-font-size-small: 0.875rem;
$transition-speed: 0.2s;
$placeholder-devices: '::-webkit-input-', '::-moz-', ':-ms-input-', '::-ms-input-', '::';

.pui-input.pui-input--floating {
	position: relative;

	input {
		font-size: $label-font-size;
		background: transparent;
		width: 100%;
		font-size: 1rem;
		box-sizing: border-box;
		transition: 300ms ease-in-out;
		
		@each $placeholder in $placeholder-devices {
			&#{nth($placeholder, 1)}placeholder {
				color: transparent;
			}
		}
		&:focus {
			outline: none;
		}
	}
	&:focus-within .pui-input__label.floating-label,
	input:not(:placeholder-shown) ~ .pui-input__label.floating-label {
		top: 0rem;
		position: relative;
		padding: 0rem 0.5rem;
		border-radius: var(--border-radius-base);
		transform: scale(0.75);
		color: $label-color;
		overflow: visible;
		transition: 300ms ease-in-out;
	}
	
	&.left-icon label.pui-input__label.floating-label {
		left: 2rem;
	}
}
	
